body {
  margin: 0;
  font-family: "Nunito Sans", "Libre Baskerville",sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.hero-image {
  background: url('../public/media/assests/hero-img.png')no-repeat center center/cover;
  
}
 .producth2{
  font-family: "Libre Baskerville" ;
 }
 .nav-link:hover{
  background-color: #008FAB;
  border-radius: 5px;
 }